/* СБРОС CSS НАЧАЛО */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

ul {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Verdana', sans-serif;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  outline: none;
}

input[type="search"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input[type="search"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

:focus::-webkit-input-placeholder {
  font-size: 0;
}

:focus::-moz-placeholder {
  font-size: 0;
}

:focus:-moz-placeholder {
  font-size: 0;
}

:focus:-ms-input-placeholder {
  font-size: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* СБРОС CSS КОНЕЦ */

/* ПОДКЛЮЧЕНИЕ ШРИФТОВ НАЧАЛО */

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/latoregular.woff") format("woff2"),
        url("../fonts/lato/latoregular.woff") format("woff"),
        url("../fonts/lato/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/latosemibold.woff2") format("woff2"),
        url("../fonts/lato/latosemibold.woff") format("woff"),
        url("../fonts/lato/latosemibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* ПОДКЛЮЧЕНИЕ ШРИФТОВ КОНЕЦ */

.container {
  max-width: 87.5%;
  margin: 0 auto;
  position: relative;
}

.header__top {
  background-color: #092E02;
  height: 57px;
  color: #fff;
  font-size: 18px;
}

.header__top a {
  color: #fff;
}

.header__top_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__city {
  margin-right: 200px;
}

.header__city a {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
}

header nav ul a {
  margin-right: 38px;
}

.header__menu ul li:last-child {
  margin-right: 0;
}

.header__socials {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.header__lang a {
  display: flex;
  align-items: center;
}

.header__account a {
  display: flex;
  align-items: center;
}

.city__text {
  margin-left: 12px;
  font-size: 16px;
  text-decoration: underline 2px;
}

.header__socials a {
  margin-right: 12px;
}

.header__socials div:last-child {
  margin-right: 0;
}

.lang__arrow {
  margin: 5px 0 0 5px;
}

.account__text {
  margin-left: 8px;
}

.account__person {
  margin-top: 1px;
}

.header__main {
  background-color: #E5E5E5;
  height: 117px;
  font-size: 18px;
}

.header__main_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 198px;
}

.logo img {
  width: 185px;
  height: 78px;
  margin: 5px 0 2px 0;
}

.logo__text {
  font-size: 10px;
  color: #7A7A7A;
}

.header__stuff {
  display: flex;
}

.header__stuff a {
  display: flex;
}

.header__catalog_search,
.header__phones {
  display: flex;
}

.header__catalog {
  color: #fff;
  width: 153px;
  height: 44px;
  background-color: #55721E;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  cursor: pointer;
  margin-right: 36px;
}

.catalog__name {
  margin-right: 24px;
}

.catalog__burger {
  display: block;
  position: relative;
  width: 19px;
  height: 13px;
}

.catalog__burger span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 1px;
  top: 6px;
}

.catalog__burger:before,
.catalog__burger:after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 1px;
}

.catalog__burger:after {
  top: 12px;
}

.header__search {
  height: 44px;
  display: flex;
  position: relative;
}

.header__search input {
  border-radius: 4px 0 0 4px;
  border: none;
  padding-left: 20px;
  width: 390px;
}

.search__button {
  width: 65px;
  height: 44px;
  border-radius: 4px;
  background-color: #9EAC31;
  background-image: url(../images/header/search-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.header__stuff span {
  background-color: #55721E;
  color: #fff;
  border-radius: 50%;
  height: 25px;
  display: flex;
  width: 25px;
  justify-content: center;
  font-size: 16px;
  margin-left: 4px;
}

.header__stuff a:first-child {
  margin-right: 23px;
}

.header__stuff a {
  display: flex;
  align-items: center;
}

.header__number {
  width: 242px;
  height: 46px;
  border: 2px solid #55721E;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  margin-right: 18px;
}

.header__call {
  width: 264px;
  height: 46px;
  background-color: #55721E;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.header__expired {
  height: 43px;
  background-color: #55721E;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.header__expired span {
  margin-right: 15px;
}

.header__expired div {
  margin-top: 2px;
}

.catalog-tabs {
  position: absolute;
  z-index: -1;
  background-color: #fff;
  width: 100%;
  opacity: 0;
  transition-duration: 0.2s;
}

.catalog-tabs.active {
  z-index: 3;
  opacity: 1;
}

.catalog-tabs__overlay {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

.catalog-tabs__overlay.active {
  opacity: 1;
  z-index: 2;
}

/*#body.active {
  overflow: hidden;
}*/

.catalog-tabs__container {
  display: flex;
  box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.15);
  font-size: 20px;
}

.catalog-tabs__nav {
  border-right: 0.5px solid rgba(9, 46, 2, 0.5);
  padding: 30px 0;
}

.catalog-tabs__btn {
  cursor: pointer;
  padding: 10px 15px 10px 48px;
}

.catalog-tabs__btn.active {
  background-color: #9EAC31;
  color: #fff;
}

.catalog-tabs__content {
  padding: 40px;
}

.catalog-tabs__item {
  display: none;
}

.catalog-tabs__item.active {
  display: block;
}

.catalog-tabs__accordion {
  display: flex;
  grid-gap: 30px;
}

.catalog-tabs__accordion_item {
  margin-bottom: 38px;
}

.catalog-tabs__accordion_trigger {
  cursor: pointer;
}

.catalog-tabs__accordion_content {
  max-height: 0;
  overflow: hidden;
  transition-duration: 0.2s;
}

.catalog-tabs__accordion_content ul {
  margin: 10px 0 0 0;
  padding: 0;
}

.catalog-tabs__accordion_content ul li {
  margin-bottom: 13px;
}

.catalog-tabs__accordion_content ul li a {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 27px;
}

.catalog-tabs__accordion_content ul li a:focus {
  color: #55721E;
  text-decoration: underline;
}

.first-slider__slide {
  background: url(../images/first-slider/slide-1.jpg) no-repeat center top / cover;
  height: 443px;
  position: relative;
}

h1.first-slider__title {
  font-family: 'Tenor Sans', serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  padding: 82px 0 40px 0;
}

.first-slider__cta {
  display: flex;
}

.first-slider__cta a {
  color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}

.first-slider__catalog {
  width: 339px;
  height: 79px;
  background-color: #9EAC31;
  margin-right: 26px;
}

.first-slider__sales {
  width: 301px;
  height: 79px;
  border: 2px solid #fff;
  background-color: rgba(250, 250, 250, 0.2);    
  backdrop-filter: blur(3px);
}

.slick-arrow {
  font-size: 0;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.first-slider .slick-arrow {
  border: none;
  background: url(../images/first-slider/arrow-controller.png) no-repeat center #fff;
  bottom: 40px;
}

.first-slider .slick-next {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  right: 120px;
}

.first-slider .slick-prev {
  right: 226px;
}

section.popular {
  padding: 160px 0;
}

h2.title {
  font-family: 'Tenor Sans', serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 46px;
}

.popular__services {
  padding-bottom: 42px;
  max-width: 1444px;
  margin: 0 auto;
}

.popular__row {
  display: flex;
}

.popular__item {
  height: 224px;
  padding: 40px 0 0 40px;
  color: #000;
  font-size: 24px;
}

.popular__item-1 {
  background: url(../images/popular-categories/contour-plastic.jpg) no-repeat center top / cover;
  width: 50%;
  margin: 0 4px 4px 0;
}

.popular__item-2 {
  background: url(../images/popular-categories/mesotherapy.jpg) no-repeat center top / cover;
  width: 50%;
}

.popular__item-3 {
  background: url(../images/popular-categories/hair-cosmetics.jpg) no-repeat center top / cover;
  width: 33.33%;
}

.popular__item-4 {
  background: url(../images/popular-categories/paraffin-therapy.jpg) no-repeat center top / cover;
  width: 33.33%;
  margin: 0 4px;
}

.popular__item-5 {
  background: url(../images/popular-categories/disposable-products.jpg) no-repeat center top / cover;
  width: 33.33%;
}

.popular__button {
  display: flex;
  justify-content: center;
}

.popular__button a {
  width: 376px;
  height: 79px;
  color: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

section .new__title {
  margin-bottom: 31px;
}

.new__slide {
  /*width: 403px!important;
  height: 564px;*/
  max-width: 403px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 0 11px;
  border-radius: 4px;
  background-color: #E5E0D7;
}

.new__slider {
  display: flex;
  align-items: baseline;
}

.new__slider .slick-track {
  padding: 15px 0;
}

.new__slider .slick-track, .week__slider .slick-track {
  display: flex;
}

.new__slider .slick-slide, .week__slider .slick-slide {
  height: inherit;
}

.new__slider .slick-list {
  margin: 0px -11px;
  /*height: 595px;*/
}

.new__bottom {
  /*width: 403px;*/
  color: #000;
  padding: 16px 27px 26px 18px;
  border-radius: 0 0 4px 4px;
}

.new__top {
  /*width: 403px;
  height: 446px;
  display: flex;
  justify-content: space-between;*/
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #fff;
  height: 446px;
  border-radius: 4px 4px 0 0;
}

.new__top img {
  object-fit: contain;
}

.product__marks {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product__info {
  width: 102px;
  height: 55px;
  background-color: #9EAC31;
  text-transform: uppercase;
  font-family: 'Tenor Sans', serif;
  font-size: 28px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px 0 0 0;
}

.product__like {
  background: url(../images/catalog/empty-like.png);
  width: 34px;
  height: 30px;
  margin: 14px 9px 0 0;
  cursor: pointer;
}

.product__like.active {
  background: url(../images/catalog/full-like.png);
}

.new__bottom_row {
  display: flex;
  justify-content: space-between;
}

.new__bottom_title {
  font-size: 20px;
  color: #000;
}

.new__bottom_row span {
  font-family: 'Tenor Sans', serif;
  font-size: 32px;
}

.new__top_stars span {
  margin: 12px 18px 0 0;
}

.new__slider .slick-arrow {
  border: none;
  background: url(../images/first-slider/arrow-controller.png) no-repeat center transparent;
  bottom: -65px;
  right: -20px;
}

.new__slider .slick-next {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.new__slider .slick-prev {
  margin-right: 60px;
}

.week-products {
  margin: 170px 0 130px 0;
  padding: 100px 0 140px 0;
  background: url(../images/week-products/background.jpg) no-repeat center top / cover;
}

.week__title {
  color: #fff;
}

.week__slide {
  max-width: 347px;
  /*height: 483px;*/
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.week__slider {
  max-width: 1435px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}

.week__slider_container {
  max-width: 1680px;
  position: relative;
}

.week__slider.slick-slider {
  position: static;
}

.week__slider .slick-list {
  margin: 0px -10px;
  /*height: 483px;*/
}

.week__bottom {
  /*width: 347px;
  height: 101px;*/
  color: #000;
  padding: 14px 24px 21px 17px;
  border-radius: 0 0 4px 4px;
}

.week__bottom img {
  width: 35px;
  height: 35px;
}

.week__top {
  /*width: 347px;
  height: 382px;*/
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: relative;
  border-radius: 4px 4px 0 0;
  height: 382px;
}

.week__top img {
  object-fit: contain;
}

.week__slider .slick-arrow {
  background: url(../images/week-products/arrow-controller-white.png) no-repeat center transparent;
  border: 2px solid #fff;
  top: 200.5px;
}

.week__slider .slick-next {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  right: 0;
}

.week__slider .slick-prev {
  left: 0;
}

.week__top_stars {
  position: absolute;
  margin: 10px 16px 0 0;
  width: 100%;
}

.top__stars span {
  display: flex;
  justify-content: flex-end;
}

.top__stars span img {
  margin-right: 4.5px;
}

.top__stars span img:last-child {
  margin-right: 0;
}

section.about {
  margin: 220px 0 230px 0;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__title {
  text-align: left;
  margin-bottom: 0;
}

.about__left {
  width: 52%;
}

.about__right {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__right div {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  line-height: 50.4px;
  margin: 51px 0 31px 0;
}

.about__right a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
}

section.mailing {
  background: url(../images/mailing/background.jpg) no-repeat center top / cover;
  height: 552px;
  display: flex;
  align-items: center;
}

section .mailing__title {
  text-align: left;
  line-height: 58px;
  margin-bottom: 44px;
}

.mailing__inner {
  display: flex;
  justify-content: flex-end;
  margin-right: 84px;
}

.mailing__container {
  width: 37%;
}

.mailing__form {
  display: flex;
}

.mailing__form input {
  width: 338px;
  border: none;
  border-radius: 8px 0 0 8px;
  padding-left: 35px;
  font-size: 24px;
}

.mailing__button {
  width: 265px;
  height: 79px;
  color: #fff;
  background-color: #9EAC31;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

section.articles {
  margin: 188px 0 307px 0;
}

.articles__inner {
  display: flex;
  justify-content: space-between;
}

section .articles__title {
  text-align: left;
  margin-bottom: 38px;
}

.articles__left {
  margin-left: 141px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 195px;
}

.articles__left a {
  width: 274px;
  height: 79px;
  color: #fff;
  background-color: #9EAC31;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles__right {
  display: flex;
}

.articles__right article:last-child {
  margin-left: 26px;
}

.article__content {
  max-width: 450px;
  max-height: 175px;
}

.article__title {
  font-family: 'Tenor Sans', serif;
  font-size: 36px;
  margin: 20px 0 9px 0;
}

.article__title a {
  color: #000;
}

.article__meta {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.article__excerpt {
  font-size: 20px;
  line-height: 24.31px;
  margin: 15px 0 13px 0;
}

.article__more {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
}

footer {
  background-color: #092E02;
  position: relative;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

footer a {
  color: rgba(255, 255, 255, 0.6);
}

footer span {
  color: #fff;
}

.footer__bottom {
  height: 64px;
  border-top: 1px solid rgba(255, 255, 255, 0.3)
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 65px 0 38px 0;
}

footer ul {
  margin: 0;
}

footer nav ul li {
  line-height: 25.6px;
  margin-bottom: 6px;
}

footer nav ul li:last-child {
  margin-bottom: 0;
}

.footer__socials div {
  display: flex;
  align-items: center;
}

.footer__socials span {
  display: flex;
  margin-bottom: 12px;
}

.footer__socials div a {
  margin-right: 13px;
}

.footer__socials div a:last-child {
  margin-right: 0;
}

.footer__row {
  display: flex;
  align-items: center;
}

.footer__mail {
  margin: 10px 0 32px 0;
}

.footer__row-1 {
  margin: 12px 0 17px 0;
}

.footer__row-3 {
  margin: 4px 0 12.3px 0;
}

.footer__row-1 a {
  margin-right: 10px;
}

.footer__row-1 a:last-child {
  margin-right: 0;
}

.footer__row-2 a:first-child {
  margin-right: 11px;
}

.footer__row-3 a:first-child {
  margin-right: 10px;
}

.footer__gplay {
  margin: 12px 0 10px 0;
}

.footer__inner .footer__column:last-child {
  margin-right: 108px;
}

.footer__inner .footer__column:nth-child(4) {
  margin: 0 100px;
}

.breadcrumbs {
  padding: 20px 0 20px 0;
  border-bottom: 0.5px solid #9EAC31;
}

.breadcrumbs__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumbs__container ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs__container ul li {
  color: rgba(0, 0, 0, 0.5);
}

.breadcrumbs__container ul li:last-child {
  color: #000;
  margin-left: 6px;
}

.breadcrumbs__container ul li a {
  color: rgba(0, 0, 0, 0.5);
  margin: 0 6px;
}

.breadcrumbs .breadcrumbs__item-first {
  margin-left: 0;
}

.catalog__switch-1.active {
  opacity: 1;
}

.catalog__switch-2.active {
  opacity: 1;
}

.catalog__switch-1 {
  opacity: 0.38;
}

.catalog__switch-2 {
  opacity: 0.38;
}

.product.active {
  width: 87%;
  display: flex;
  height: 220px;
  position: relative;
}

.product.active .product__like {
  position: absolute;
  margin: 0 26px 0 0;
  right: 0;
  top: 91px;
  width: 43px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product.active .product__top {
  width: 201px; /*239px?*/
  height: 220px;
  border-radius: 4px 0 0 4px;
  position: static;
  justify-content: space-between;
}

.product.active img {
  border-radius: 4px 0 0 4px;
}

.product.active .product__info {
  width: 68px;
  height: 37px;
  font-size: 20px;
}

.product.active .product__bottom {
  height: 220px;
  width: 100%;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 8%;
}

.product.active .product__bottom_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__counter {
  display: none;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: rgba(149, 149, 149, 1);
  width: 107px;
  height: 46px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 0 14px 0 46px;
}

.product__counter input {
  width: 100%;
  border: none;
  background-color: #fff;
  color: rgba(149, 149, 149, 1);
  cursor: pointer;
}

.product.active .product__counter {
  display: flex;
}

.product__basket_button {
  width: 157px;
  height: 46px;
  background-color: #9EAC31;
  border-radius: 4px;
  display: none;
  justify-content: center;
  align-items: center;
}

.product.active .product__basket_button {
  display: flex;
}

.product__basket_button a {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.product.active .product__stars img {
  width: 15.73px;
  height: 13px;
}

.product.active .product__title_row {
  /*font-family: 'Tenor Sans', serif;
  font-size: 26px;
  line-height: 32px;
  margin-right: 56px;
  max-width: 442px;*/
  display: none;
}

.product.active .product__stars {
  margin: -16px 0 16px 0;
}

.product__title_column {
  display: none;
}

.product.active .product__title_column {
  font-family: 'Tenor Sans', serif;
  font-size: 26px;
  line-height: 32px;
  max-width: 442px;
  display: block;
  margin-top: 0;
}

.product.active .product__cost {
  font-family: 'Tenor Sans', serif;
  display: flex;
  align-items: center;
}

.product.active .product__cost_new {
  font-size: 40px;
  margin-right: 14px;
}

.product.active .product__cost_old {
  font-size: 28px;
}

.product.active .product__basket {
  display: none;
}

.catalog {
  margin: 35px 0 160px 0;
}

.catalog__switch {
  display: flex;
  align-items: center;
}

.catalog__switch div {
  cursor: pointer;
}

.catalog__switch div:first-child {
  margin-right: 17.6px;
}

.catalog__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.catalog__filters {
  margin-top: 10px;
}

.accordion-item {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.accordion-item__title {
  font-size: 18px;
}

.accordion-item__trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 242.5px;
  height: 46px;
  padding: 5px 0;
}

.accordion-item__content {
  max-height: 0;
  overflow: hidden;
  /*margin: 10px 0;*/
  transition-duration: 0.2s;
}

.accordion-item--active .accordion-item__content {
  max-height: 300px;
  margin: 10px 0;
}

.accordion-item__arrow {
  opacity: 0.3;
  transition-duration: 0.2s;
}

.accordion-item--active .accordion-item__arrow {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 1;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: flex;
  align-items: center;
  user-select: none;
  margin-bottom: 8px;
  cursor: pointer;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  background: url(../images/catalog/checkbox-checked.png) no-repeat center;
}

.catalog__products {
  display: flex;
  flex-direction: column;
}

.catalog__products_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 35px;
}

.product {
  width: 301px;
  /*height: 447px;*/
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin: 22.5px 8px;
  background-color: #E5E0D7;
  border-radius: 4px;
}

.product__top img {
  object-fit: contain;
  width: 100%;
}

/*.product__top-1,
.product__top-4 {
  background: url(../images/product/product-image-1.jpg) no-repeat center top / cover;
}

.product__top-2 {
  background: url(../images/product/product-image-2.jpg) no-repeat center top / cover;
}

.product__top-3 {
  background: url(../images/product/product-image-3.jpg) no-repeat center top / cover;
}*/

.product__top {
  /*width: 301px;
  height: 333px;*/
  display: flex;
  justify-content: center;
  position: relative;
  height: 333px;
  background: #fff;
  border-radius: 4px 4px 0 0;
}

.product__bottom {
  /*width: 301px;
  height: 114px;*/
  padding: 16px 21px 21px 13px;
}

.product__title {
  font-size: 20px;
  margin-top: 5px;
  color: #000;
}

.product__stars {
  display: flex;
}

.product__stars img {
  margin-right: 3.9px;
}

.product__stars img:last-child {
  margin-right: 0;
}

.product__cost {
  display: flex;
}

.product__cost_new {
  font-family: 'Tenor Sans', serif;
  font-size: 32px;
  margin-right: 11px;
}

.product__cost_old {
  font-size: 28px;
  color: #B3B7BC;
  text-decoration: line-through;
}

.product__bottom_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__basket img {
  width: 30px;
}

.product__login {
  font-size: 16px;
  line-height: 19.45px;
  color: rgba(0, 0, 0, 0.5);
}

.product__login a {
  color: #55721E;
}


.catalog__range_title {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 39px 0 15px 0;
}

.polzunok-container-5 * {
    box-sizing: border-box;
    outline: none;
}

.polzunok-container-5:after {
    content: "";
    clear: both;
    display: table;
}

.polzunok-container-5 .ui-slider {
    position: relative;
    background: #9EAC31;
    height: 2px;
    border-radius:10px;
}

.polzunok-container-5 .ui-slider .ui-slider-handle {
    position: absolute;
    margin-left: -11px;
    width: 19px;
    height: 19px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #55721E;
    top: -9px;
    background: #FFF;
    z-index: 2;
    transition: transform 0.2s, border 0.4s;
}

.polzunok-input-5-left,
.polzunok-input-5-right {
    width: 115px;
    height: 43px;
    border-radius: 2px;
    text-align:center;
    font-size: 18px;
    background-color: #E5E0D7;
    border: none;
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Verdana', sans-serif;
}

.polzunok-input-5-left {
    float: left;
}

.polzunok-input-5-right {
    float: right;
}

.polzunok-container-5 .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 2px;
    border: 0;
    background: #9EAC31;
    border-radius:10px;
}

.polzunok__inputs_container {
  display: flex;
  margin-bottom: 20px;
}

.polzunok__inputs_container input:first-child {
  margin-right: 15px;
}

.catalog__pagination {
  width: 87%;
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 32px;
}

.catalog__pagination div:nth-child(2) {
  margin: 0 16px;
}

.catalog__pagination div:last-child {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


.account-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 66px 0 160px 0;
}

section .account-title {
  margin-bottom: 18px;
}

.account-login__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.account-login__inputs input {
  border: none;
  border-radius: 4px;
}

.account-input-text {
  width: 390px;
  height: 54px;
  background-color: #ECECEC;
  font-size: 18px;
  padding-left: 17px;
  color: #929292;
}

.account-input-text:focus {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  caret-color: #929292;
}

.account-login__inputs div:nth-child(2) {
  margin: 18px 0 32px 0;
  position: relative;
}

.account-login__inputs_enter {
  width: 244px;
  height: 65px;
  background-color: #9EAC31;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  padding-left: 0;
  cursor: pointer;
}

.account-login__register {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.account-login__register a {
  color: #55721E;
  text-decoration: underline;
}

.quick-registration {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quick-registration__title {
  font-size: 25px;
  margin-bottom: 20px;
}

.quick-registration__icons {
  display: flex;
  align-items: center;
}

.quick-registration__icons a {
  margin-right: 17px;
}

.quick-registration__icons a:last-child {
  margin-right: 0;
}

.account-login__inputs img {
  position: absolute;
  right: 18px;
  top: 15.5px;
  cursor: pointer;
}

.account-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 66px 0 160px 0;
}

.account-registration__info-1 {
  font-size: 18px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 614px;
}

.account-registration__info-2 {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 498px;
}

.account-registration__inputs {
  margin: 44px 0 32px 0;
  display: flex;
  flex-direction: column;
}

.account-registration__inputs input {
  border: none;
  border-radius: 4px;
}

.account-registration__inputs div {
  margin-bottom: 18px;
}

.account-registration__inputs div:first-child {
  margin-bottom: 28px;
}

.account-registration__inputs div:last-child {
  margin-bottom: 0;
}

.account-registration__inputs div:nth-child(6) {
  margin-top: 10px;
}

.account-registration__inputs div:nth-child(7) {
  position: relative;
}

.account-registration__inputs img {
  position: absolute;
  right: 18px;
  top: 15.5px;
  cursor: pointer;
}

.account-registration__title_small {
  font-size: 20px;
  color: #55721E;
}

.account-registration__inputs_enter {
  width: 390px;
  height: 65px;
  background-color: #9EAC31;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.account {
  display: flex;
}

.container__account {
  width: 100%;
}

.account__inner {
  display: flex;
  justify-content: space-between;
  height: 964px;
}

section .account__title {
  text-align: left;
  margin-bottom: 64px;
}

.account__left {
  background-color: #F5F3EF;
  width: 44.6%;
  padding: 200px 111px 0 120px;
}

.account__right {
  padding: 64px 106px 0 77px;
  width: 86%;
}

.account__data {
  max-width: 456px;
  background-color: #fff;
  padding: 36px 32px 67px 36px;
  font-size: 20px;
  border-radius: 15px;
}

.account__item {
  display: flex;
  line-height: 24px;
  margin-bottom: 20px;
}

.account__item:nth-child(6) {
  justify-content: space-between;
}

.account__item:nth-child(6) div {
  display: flex;
}

.account__item:nth-child(6),
.account__item:nth-child(7) {
  margin-bottom: 28px;
}

.account__item:nth-child(7),
.account__item:nth-child(8) {
  flex-direction: column;
}

.account__item:nth-child(7) div,
.account__item:nth-child(8) div {
  margin-bottom: 12px;
}

.account__item:nth-child(7) div:nth-child(2),
.account__item:nth-child(8) div:nth-child(2) {
  margin-bottom: 6px;
}

.account__name {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 34px;
}

.account__item_title {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 7px;
}

.account__item a {
  font-size: 18px;
  color: #9EAC31;
  text-decoration: underline;
}

.account__content {
  display: flex;
  padding-left: 46px;
}

.account__buttons {
  margin-right: 54px;
}

.account__button {

}

.account__button:last-child {
  margin-bottom: 0;
}

.account__button_trigger {
  max-width: 450px;
  height: 75px;
  color: #fff;
  background-color: #9EAC31;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 25px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.account__button_content {
  max-height: 0;
  overflow: hidden;
  max-width: 450px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  transition-duration: 0.3s;
}

.account__button--active .account__button_trigger {
  background-color: #fff;
  color: #000;
  margin-bottom: 0;
  border-radius: 15px 15px 0 0;
  border-top: 1px solid #9EAC31;
  border-right: 1px solid #9EAC31;
  border-left: 1px solid #9EAC31;
}

.account__button--active .account__button_content {
  max-height: 496px;
  padding: 0 30px 52px 30px;
  border-right: 1px solid #9EAC31;
  border-bottom: 1px solid #9EAC31;
  border-left: 1px solid #9EAC31;
  margin-bottom: 25px;
}

.account__button_order {
  font-size: 18px;
  line-height: 28px;
}

.account__button_order-2 {
  margin: 15px 0 30px;
}

.account__button_sale {
  font-size: 20px;
  line-height: 24.3px;
  margin: 10px 0 24px 0;
}

.account__button_date {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.account__button_number {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  line-height: 24.3px;
}

.account__button_content .account__button_number a {
  font-size: 18px;
  color: #9EAC31;
  text-decoration: underline;
}

.account__button_content a {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 37px;
}

.back-link a {
  color: rgba(0, 0, 0, 0.5);
}

.back-link a:first-child {
  margin-right: 14px;
}

.company {
  margin-bottom: 160px;
}

section .company__title {
  margin: 47px 0 60px 0;
}

.company-block-1 {
  margin-bottom: 109px;
}

.company-block {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  line-height: 30px;
}

.company__text_title {
  font-size: 25px;
  color: #55721E;
  margin-bottom: 20px;
}

.company__text {
  width: 50%;
  padding-top: 40px;
}

.company__text p:first-child {
  margin-bottom: 35px;
}

.company__text ul li {
  position: relative;
}

.company__text_content-m {
  margin-bottom: 35px;
}

.company__text_content-m ul li:before {
  content: url(../images/company/list-style-check-mark.png);
  position: absolute;
  top: 3px;
  left: -37px;
}

.company__text_content-c ul li:before {
  content: url(../images/company/list-style-circle.png);
  position: absolute;
  left: -23px;
  top: -1px;
}

section.shopping-cart {
  margin: 66px 0 114px 0;
}

.shopping-cart__inner {
  font-size: 24px;
  max-width: 1113px;
  margin: 0 auto;
}

.shopping-cart__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.shopping-cart__numbers {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.shopping-cart__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopping-cart__info_container-1 {
  display: flex;
  align-items: center;
}

.shopping-cart__info_container-2 {
  display: flex;
  align-items: center;
}

.shopping-cart__price {
  display: flex;
  align-items: center;
}

.shopping-cart__name {
  font-family: 'Tenor Sans', serif;
  max-width: 290px;
}

.shopping-cart__price_new, .shopping-cart__amount {
  font-size: 36px;
}

.shopping-cart__amount {
  margin: 0 32px 0 87px;
}

.shopping-cart__price_old {
  font-size: 28px;
  color: #B3B7BC;
  text-decoration: line-through;
  margin-left: 17px;
}

.shopping-cart__quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: rgba(149, 149, 149, 1);
  width: 107px;
  height: 46px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin-left: 24px;
}

.shopping-cart__quantity input {
  width: 100%;
  border: none;
  background-color: #fff;
  color: rgba(149, 149, 149, 1);
  cursor: pointer;
}

.shopping-cart__quantity_none {
  margin-left: 123px;
}

.shopping-cart__buy {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 35px;
}

.shopping-cart__total {
  font-size: 24px;
}

.shopping-cart__promo {
  width: 390px;
  height: 54px;
  border: none;
  background-color: #ECECEC;
  border-radius: 4px;
  padding-left: 17px;
  margin-bottom: 10px;
  color: #929292;
}

.shopping-cart__promo:focus,
.shopping-application-input:focus {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  caret-color: #929292;
}

.cart-button {
  width: 311px;
  height: 65px;
  border-radius: 4px;
  background-color: #9EAC31;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  margin-top: 24px;
}

.shopping-cart__buy_margin {
  margin: 12px 0 7px 0;
}

section.shopping-application {
  margin-bottom: 160px;
}

.shopping-application__inner {
  max-width: 830px;
  margin: 0 auto;
}

.shopping-application__title_small {
  font-size: 20px;
  color: #55721E;
}

.shopping-application__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  margin: 20px 0 6px 0;
}

.shopping-application__container_row {
  display: flex;
}

.shopping-application__inputs {
  display: flex;
  flex-direction: column;
}

.shopping-application-input {
  width: 404px;
  height: 54px;
  border: none;
  background-color: #ECECEC;
  border-radius: 4px;
  margin: 10px;
  padding-left: 17px;
}

.shopping-application__inputs textarea {
  width: 829px;
  height: 86px;
  padding-top: 13px;
  resize: none;
}

.shopping-application__inputs select {
  cursor: pointer;
  color: #757575;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../images/cart/select-arrow.png) no-repeat center right 17px #ECECEC;
}

.shopping-application__inputs select::-ms-expand {
  display: none;
}

.shopping-application__inputs div {
  position: relative;
}

.shopping-application__inputs select:focus {
  border: none;
  background-color: #ECECEC;
  outline: none;
}

.shopping-application__inputs option {
  color: #000;
}

.shopping-application__mark {
  font-size: 18px;
  color: #9EAC31;
}

.shopping-application__text {
  font-size: 20px;
  margin: 40px 0 30px 0;
}

.shopping-application__total {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

section.cart-empty {
  margin: 66px 0 170px 0;
}

.cart-empty__inner {
  max-width: 848px;
  margin: 0 auto;
}

section .cart-empty__title {
  margin-bottom: 40px;
}

.cart-empty__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-empty__text {
  width: 61%;
}

.cart-empty__text div {
  font-size: 26px;
  font-weight: 700;
  color: #55721E;
  margin-bottom: 26px;
}

.cart-empty__text span {
  font-size: 22px;
  line-height: 34px;
}

.cart-empty__text a {
  color: #9EAC31;
  text-decoration: underline;
}

section.cart-empty__slider {
  margin: 0;
}

section.posts {
  margin: 66px 0 105px 0;
}

section.posts__title {
  margin-bottom: 60px;
}

.posts__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section.posts article {
  margin-bottom: 75px;
}

section .contacts__title {
  margin: 66px 0 60px 0;
}

.contacts__calls {
  font-size: 24px;
  color: #55721E;
  margin-bottom: 28px;
}

.contacts__numbers {
  display: flex;
}

.contacts__numbers_container {
  display: flex;
  flex-direction: column;
}

.contacts__numbers_container:nth-child(2) {
  margin: 0 80px;
}

.contacts__numbers_container div {
  font-size: 24px;
  margin-bottom: 11px;
}

.contacts__numbers_container span {
  font-size: 20px;
  margin-bottom: 6px;
}

.contacts__map {
  background: url(../images/contacts/map.jpg) no-repeat center top / cover;
  height: 737px;
  margin: 34px 0 68px 0;
}

.contacts__map .container {
  display: flex;
  justify-content: flex-end;
  padding: 74px 144px 0 0;
}

.contacts__bottom {
  font-size: 20px;
  margin-bottom: 146px;
}

.contacts__bottom div:first-child {
  font-size: 24px;
  margin-bottom: 64px;
}

.contacts__bottom div {
  display: flex;
  flex-direction: column;
}

.contacts__bottom span {
  margin-bottom: 14px;
}

.contacts__tablet {
  max-width: 545px;
  height: 551px;
  background-color: #fff;
  border-radius: 8px;
  padding: 68px 76px 82px 101px;
}

.contacts__tablet_container div {
  font-size: 22px;
  line-height: 26.7px;
  margin-bottom: 12px;
  position: relative;
}

.contacts__tablet_container span {
  font-size: 18px;
  line-height: 21.8px;
}

.contacts__tablet_container:nth-child(2) {
  margin: 54px 0 39px 0;
}

.contacts__tablet_clock:before {
  content: url(../images/contacts/clock.png);
  position: absolute;
  left: -37px;
}

.contacts__tablet_mark:before {
  content: url(../images/contacts/mark.png);
  position: absolute;
  left: -37px;
}

.contacts__tablet_envelope:before {
  content: url(../images/contacts/envelope.png);
  position: absolute;
  left: -37px;
}

.header-mob {
  display: none;
}


/* МЕДИА ЗАПРОСЫ НАЧАЛО */

@media (max-width: 1923px) {
  .product.active .product__title_column {
    font-size: 23px;
  }

  .product.active .product__cost_new {
    font-size: 30px;
  }

  .product.active .product__cost_old {
    font-size: 24px;
  }

  .product.active .product__title_column {
    max-width: 358px;
  }
}

@media (max-width: 1790px) {
  .header__city {
    margin-right: 0;
  }

  .product.active .product__bottom {
    padding-right: 7%;
  }

  .product__basket_button a {
    font-size: 16px;
  }

  .product__basket_button {
    width: 130px;
  }

  .product__counter {
    width: 90px;
    margin-left: 20px;
  }

  .account__left {
    padding-right: 50px;
  }
}

@media (max-width: 1700px) {
  .header__search input {
    width: auto;
  }

  .header__top {
    font-size: 16px;
  }

  .header__main {
    font-size: 16px;
  }

  .header__number {
    width: 210px;
  }

  .header__call {
    width: 232px;
  }

  .header__socials {
    margin-bottom: 0;
  }

  .account__left {
    padding-left: 100px;
  }

  .account__right {
    padding-left: 50px;
    padding-right: 90px;
  }
}

@media (max-width: 1640px) {
  .product.active .product__title_column {
    max-width: 179px;
  }

  .product.active .product__like {
    margin-right: 10px;
  }

  .footer__inner .footer__column:nth-child(4) {
    margin: 0;
  }
}

@media (max-width: 1500px) {
  .container {
    max-width: 91%;
  }

  header nav ul a {
    margin-right: 23px;
  }

  header nav ul a:last-child {
    margin-right: 0;
  }

  .header__stuff span {
    font-size: 14px;
    width: 22px;
    height: 22px;
  }

  .header__stuff img {
    width: 85%;
  }

  .header__stuff a:first-child {
    margin-right: 12px;
  }

  .header__number {
    margin-right: 10px;
  }

  .header__catalog {
    margin-right: 15px;
  }

  .account__right {
    padding-right: 60px;
  }
}

@media (max-width: 1360px) {
  header nav ul {
    padding: 0;
  }

  .header__catalog {
    width: 138px;
  }

  .header__call {
    font-size: 15px;
    width: 200px;
  }

  .header__number {
    font-size: 15px;
    width: 188px;
  }

  .header__socials a {
    margin-right: 9px;
  }

  .header__socials img {
    width: 87%;
  }

  .accordion-item__title {
    font-size: 16px;
  }

  .accordion-item__content {
    font-size: 15px;
  }

  .breadcrumbs {
    font-size: 15px;
    padding: 15px 0;
  }

  .catalog__range_title, .polzunok-input-5-left, .polzunok-input-5-right {
    font-size: 16px;
  }

  .product, .product__top, .product__bottom {
    width: 280px;
  }

  .product__title {
    font-size: 18px;
  }

  .product__cost_new {
    font-size: 26px;
  }

  .product__cost_old {
    font-size: 23px;
  }

  .product__info {
    width: 92px;
    height: 49px;
    font-size: 26px;
  }

  .product.active .product__cost_new {
    font-size: 24px;
  }

  .product.active .product__cost_old {
    font-size: 20px;
  }

  .product.active .product__title_column {
    font-size: 16px;
  }
}

@media (max-width: 1250px) {
  .header__top {
    font-size: 14px;
  }

  .city__text {
    font-size: 14px;
  }

  .header__main {
    font-size: 14px;
  }

  .header__call {
    font-size: 14px;
    width: 165px;
  }

  .header__number {
    font-size: 14px;
    width: 165px;
  }

  .header__catalog {
    width: 125px;
  }

  .header__search input {
    width: 185px;
  }
}

@media (max-width: 1130px) {

}

/* МЕДИА ЗАПРОСЫ КОНЕЦ */